body {
    font-family: "Trebuchet MS", sans-serif;
    color: #444;
    font-size: 16px;
}

img {
    border: 5px solid grey;
    border-radius: 50px;
    width: 300px;
}

.point {
    width: auto;
    height: 10em;
    border-radius: 15px;
    margin: 5px;
    padding: 5px;
}

@media (max-width: 640px) {
    body {
        font-size: 2em;
    }
}

.title {
    color: gray;
    text-align: center;
}
